<h1>Children Index</h1>

<% @groceries.each do |grocery| %>
  <h2><%= grocery.name %></h2>
  <p>Price: <%= grocery.price %></p>
  <p>In Stock: <%= grocery.in_stock %></p>
  <p>Created at: <%= grocery.created_at %></p>
  <p>Updated at: <%= grocery.updated_at %></p>
<% end %>