<h1>Children Index</h1>

<% @cars.each do |car| %>
  <h2><%= car.model %></h2>
  <p>Model: <%= car.model %></p>
  <p>Make: <%= car.make %></p>
  <p>Year: <%= car.year %></p>
  <p>Under 100k miles:<%= car.under_100k_miles %></p>
  <br>
<% end %>
 