<button class="button button2"><a href="/">Go to HomePage</a></button>
<button class="button button2"><a href="/cars">Go to Cars</a></button>
<button class="button button2"><a href="/dealerships">Go to Dealership</a></button>

<h1>Dealership</h1>


<h2><%= @dealership.name %></h2>
<p> Address: <%= @dealership.address %></p>
<p> Open on weekends: <%= @dealership.open_weekends %></p>
<p> Established <%= @dealership.years_open %> years ago</p>
<p> Inventory: <%= @dealership.car_count %> cars on lot</p>
<p><button class="button button2"><a href="/dealerships/<%= @dealership.id %>/cars">Go to Lot</a></button></p>
<p><%= link_to 'Edit Dealership', "/dealerships/#{@dealership.id}/edit", class:"button button2", method: :get %></p>
<p><%= link_to 'Delete Dealership', "/dealerships/#{dealership.id}/delete", class:"button button2", method: :delete %></p>