<button class="button button2"><a href="/">Go to HomePage</a></button>
<button class="button button2"><a href="/cars">Go to Cars</a></button>
<button class="button button2"><a href="/dealerships">Go to Dealership</a></button>
<h1>Dealership Cars Index</h1>

<h2><%= @dealership.name %></h2>

<% @cars.each do |car| %>
  <h3> <%= car.model %></h3>
  <p>Model: <%= car.model %></p>
  <p>Make: <%= car.make %></p>
  <p>Year: <%= car.year %></p>
  <p>Under 100k miles:<%= car.under_100k_miles %></p>
<% end %>
