<h2>
  <button class="button button2"><a href="/">Go to HomePage</a></button>
  <button class="button button2"><a href="/groceries">Go to Groceries</a></button>
  <button class="button button2"><a href="/grocery_stores">Go to Grocery Stores</a></button>
</h2>

<h1>Grocery Store-Groceries Index</h1>
<hr>

<h2>Store: <%= @grocery_store.name %> </h2>

<p><%= link_to 'Create Grocery', "/grocery_stores/#{@grocery_store.id}/groceries/new", class: "button button_create", method: :get %></p>

<% @groceries.each do |grocery| %>
  <h2><a href="/groceries/<%= grocery.id %>"><%= grocery.name %></a></h2>
  <p>Price: <%= grocery.price %> </p>
  <p>In Stock: <%= grocery.in_stock %> </p>
  <p>Created at: <%= grocery.created_at %> </p>
  <p>Updated at: <%= grocery.updated_at %> </p>
  <h1>_____________________________________________</h1>
<% end %>