<h1>New Grocery</h1>

<%= form_tag "/grocery_stores/#{@grocery_store.id}/groceries", method: :post do %>

<p>
  <%= label_tag :name, 'Grocery name:' %>
  <%= text_field_tag :name %><br>

  <%= label_tag :price, 'Grocery price:' %>
  <%= text_field_tag :price %><br>
  
  <%= label_tag :in_stock, 'In stock?:' %>
  <%= text_field_tag :in_stock %><br>

  <%= submit_tag 'Create Grocery' %>
</p>

<% end %>