<button class="button button2"><a href="/">Go to HomePage</a></button>
<button class="button button2"><a href="/grocery_stores">Go to Grocery Stores</a></button>


<h1>Groceries Index</h1>
<% @groceries.each do |grocery| %>
  <h1>_____________________________________________</h1>
  <h2><a href="/groceries/<%= grocery.id %>"><%= grocery.name %></a></h2>
  <p>Price: <%= grocery.price %></p>
  <p>In Stock: <%= grocery.in_stock %></p>
  <p>Created at: <%= grocery.created_at.strftime('%e %b %Y %H:%M:%S') %></p>
  <p>Updated at: <%= grocery.updated_at.strftime('%e %b %Y %H:%M:%S') %></p>
<% end %>