<h2>
  <button class="button button2"><a href="/">Go to HomePage</a></button>
  <button class="button button2"><a href="/groceries">Go to Groceries</a></button>
  <button class="button button2"><a href="/grocery_stores">Go to Grocery Stores</a></button>
</h2>

<h1>Grocery</h1>
<hr>

<h2><%= @grocery.name %></h2>
<p> Price: <%= @grocery.price %></p>
<p> In Stock: <%= @grocery.in_stock %></p>
<p> Created at: <%= @grocery.created_at %></p>
<p> Updated at: <%= @grocery.updated_at %></p>
<p>
  <%= link_to 'Update Grocery', "/groceries/#{@grocery.id}/edit", class: "button button_edit", method: :get %>
  <%= link_to 'Delete Grocery', "/groceries/#{@grocery.id}/delete", class: "button button_delete", method: :delete %>
</p>