<button class="button button2"><a href="/">Go to HomePage</a></button>

<h1>Grocery</h1>

<h2><%= @grocery.name %></h2>
<p> Price: <%= @grocery.price %></p>
<p> In Stock: <%= @grocery.in_stock %></p>
<p> Created at: <%= @grocery.created_at %></p>
<p> Updated at: <%= @grocery.updated_at %></p>