<h2>
  <button class="button button2"><a href="/">Go to HomePage</a></button>
  <button class="button button2"><a href="/groceries">Go to Groceries</a></button>
  <button class="button button2"><a href="/grocery_stores">Go to Grocery Stores</a></button>
</h2>

<h1>Update Grocery Store</h1>
<hr>

<%= form_tag "/grocery_stores/#{@grocery_store.id}", method: :patch do %>
<p>
  <%= label_tag :name, 'New store name:' %>
  <%= text_field_tag :name %><br>

  <%= label_tag :address, 'New store address:' %>
  <%= text_field_tag :address %><br>
  
  <%= label_tag :open_24_hours, '24-hr?' %>
  <%= text_field_tag :open_24_hours %><br>

  <%= submit_tag 'Update Store' %>
</p>
<% end %>