<button class="button button2"><a href="/">Go to HomePage</a></button>
<button class="button button2"><a href="/groceries">Go to Groceries</a></button>

<h1>Grocery Stores Index</h1>
<p><%= link_to 'New Grocery Store', '/grocery_stores/new', class: "button button2", method: :get %></p>
<section id="grocery_stores">
<% @grocery_stores.each do |grocery_store| %>
  <h1>_____________________________________________</h1>
  <h2><a href="/grocery_stores/<%= grocery_store.id %>"><%= grocery_store.name %></a></h2>
  <p id="address">Address: <%= grocery_store.address %></p>
  <p>Created at: <%= grocery_store.created_at.strftime('%e %b %Y %H:%M:%S') %></p>
  <p>Created at: <%= grocery_store.updated_at.strftime('%e %b %Y %H:%M:%S') %></p>
<% end %>
</section>