<h1>New Grocery Store</h1>

<%= form_tag '/grocery_stores', method: :post do %>

<p>
  <%= label_tag :name, 'Store name:' %>
  <%= text_field_tag :name %><br>

  <%= label_tag :address, 'Store address:' %>
  <%= text_field_tag :address %><br>
  
  <%= label_tag :open_24_hours, '24-hr?:' %>
  <%= text_field_tag :open_24_hours %><br>

  <%= submit_tag 'Create Store' %>
</p>

<% end %>