<button class="button button2"><a href="/">Go to HomePage</a></button>
<button class="button button2"><a href="/groceries">Go to Groceries</a></button>
<button class="button button2"><a href="/grocery_stores">Go to Grocery Stores</a></button>

<h1>Grocery Store</h1>

<h2><a href="/grocery_stores/<%= @grocery_store.id %>/groceries"><%= @grocery_store.name %></a></h2>
<p> Address: <%= @grocery_store.address %></p>
<p> 24-hr: <%= @grocery_store.open_24_hours %></p>
<p> Created at: <%= @grocery_store.created_at %></p>
<p> Updated at: <%= @grocery_store.updated_at %></p>