<button class="button button2"><a href="/">Go to HomePage</a></button>
<button class="button button2"><a href="/cars">Go to Cars</a></button>
<button class="button button2"><a href="/dealerships">Go to Dealerships</a></button>


<h1><%= @car.model %></h1>
<p>Model: <%= @car.model %></p>
<p>Make: <%= @car.make %></p>
<p>Year: <%= @car.year %></p>
<p>Under 100k miles:<%= @car.under_100k_miles %></p>
<p><%= link_to 'Edit Car', "/cars/#{@car.id}/edit", class:"button button2", method: :get %></p>
<p><%= link_to 'Delete Car', "/cars/#{@car.id}/delete", class:"button button2", method: :delete %></p>

